body {
  font-family: "Mali", cursive;
  width: 80%;
  margin: 0 auto;
  background-image: url(../images/vintage-pink-telephone-composition.jpg);
  background-size: cover;
}
fieldset {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 2rem;
  width: 50%;
}
input {
  display: block;
}
legend {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
label {
  display: block;
  padding-bottom: 0.3rem;
}
textarea {
  height: 10rem;
  padding: 1rem;
}
input,
textarea {
  display: block;
  margin-bottom: 2rem;
  width: 20rem;
  font-family: "Mali", cursive;
  font-size: 1rem;
  padding: 0 1rem;
  border-radius: 10px;
  border: none;
}
button {
  font-size: 1rem;
  margin: 2rem 0;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
button:hover {
  background-color: lightslategray;
  color: white;
}
